<app-navbar></app-navbar>
<!--
<section class="py-24 relative">
  <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">

    <h2 class="title font-manrope font-bold text-4xl leading-10 mb-8 text-center text-black">Shopping Cart
    </h2>
    <div class="hidden lg:grid grid-cols-2 py-6">
      <div class="font-normal text-xl leading-8 text-gray-500">Product</div>
      <p class="font-normal text-xl leading-8 text-gray-500 flex items-center justify-between">
        <span class="w-full max-w-[200px] text-center">Delivery Charge</span>
        <span class="w-full max-w-[260px] text-center">Quantity</span>
        <span class="w-full max-w-[200px] text-center">Total</span>
      </p>
    </div>

    <div *ngFor="let item of items" class="grid grid-cols-1 lg:grid-cols-2 min-[550px]:gap-6 border-t border-gray-200 py-6">
      <div class="flex items-center flex-col min-[550px]:flex-row gap-3 min-[550px]:gap-6 w-full max-xl:justify-center max-xl:max-w-xl max-xl:mx-auto">
        <div class="img-box"><img [src]="item.imageUrl" alt="perfume bottle image" class="xl:w-[140px]"></div>
        <div class="pro-data w-full max-w-sm ">
          <h5 class="font-semibold text-xl leading-8 text-black max-[550px]:text-center">{{ item.name }}</h5>
          <p class="font-normal text-lg leading-8 text-gray-500 my-2 min-[550px]:my-3 max-[550px]:text-center">Perfumes</p>
          <h6 class="font-medium text-lg leading-8 text-indigo-600  max-[550px]:text-center">{{ item.price }} DH</h6>
        </div>
      </div>
      <div class="flex items-center flex-col min-[550px]:flex-row w-full max-xl:max-w-xl max-xl:mx-auto gap-2">
        <h6 class="font-manrope font-bold text-2xl leading-9 text-black w-full max-w-[176px] text-center">
           10.00 DH <span class="text-sm text-gray-300 ml-3 lg:hidden whitespace-nowrap">(Delivery Charge)</span></h6>
        <div class="flex items-center w-full mx-auto justify-center">
          <button (click)="removeItemFromCart(item.id)"
            class="group rounded-l-full px-6 py-[18px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-300 hover:bg-gray-50">
            <i class="fa-solid fa-delete-left"></i>        
          </button>
          <button (click)="decrementOrRemove(item.id)"
            class="group px-6 py-[18px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-300 hover:bg-gray-50">
            <svg class="stroke-gray-900 transition-all duration-500" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d="M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
            </svg>
          </button>
          <input type="text"
            class="border-y border-gray-200 outline-none text-gray-900 font-semibold text-lg w-full max-w-[118px] min-w-[80px] placeholder:text-gray-900 py-[15px] text-center bg-transparent"
            placeholder="1" [(ngModel)]="item.quantity">
          <button (click)="addItemToCart(item)"
            class="group rounded-r-full px-6 py-[18px] border border-gray-200 flex items-center justify-center shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:border-gray-300 hover:bg-gray-50">
            <svg class="stroke-gray-900 transition-all duration-500 group-hover:stroke-black" xmlns="http://www.w3.org/2000/svg"
              width="22" height="22" viewBox="0 0 22 22" fill="none">
              <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-width="1.6" stroke-linecap="round" />
              <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
              <path d="M11 5.5V16.5M16.5 11H5.5" stroke="" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
            </svg>
          </button>
        </div>
        <h6 class="text-indigo-600 font-manrope font-bold text-2xl leading-9 w-full max-w-[176px] text-center"></h6>
      </div>
    </div>

    <div class="bg-gray-50 rounded-xl p-6 w-full mb-8 max-lg:max-w-xl max-lg:mx-auto">
      <div class="flex items-center justify-between w-full mb-6">
        <p class="font-normal text-xl leading-8 text-gray-400">Sub Total</p>
        <h6 class="font-semibold text-xl leading-8 text-gray-900">{{ totalPrice  }} DH</h6>
      </div>
      <div class="flex items-center justify-between w-full pb-6 border-b border-gray-200">
        <p class="font-normal text-xl leading-8 text-gray-400">Delivery Charge</p>
        <h6 class="font-semibold text-xl leading-8 text-gray-900">10.00 DH</h6> 
      </div>
      <div class="flex items-center justify-between w-full py-6">
        <p class="font-manrope font-medium text-2xl leading-9 text-gray-900">Total</p>
        <h6 class="font-manrope font-medium text-2xl leading-9 text-indigo-500">{{ totalPrice + 10  }} DH</h6>
      </div>
    </div>

    <div class="flex items-center flex-col sm:flex-row justify-center gap-3 mt-8">
      <button class="rounded-full py-4 w-full max-w-[280px]  flex items-center bg-indigo-50 justify-center transition-all duration-500 hover:bg-indigo-100">
        <span class="px-2 font-semibold text-lg leading-8 text-indigo-600">Add Coupon Code</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
          <path d="M8.25324 5.49609L13.7535 10.9963L8.25 16.4998" stroke="#4F46E5" stroke-width="1.6"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <button class="rounded-full w-full max-w-[280px] py-4 text-center justify-center items-center bg-indigo-600 font-semibold text-lg text-white flex transition-all duration-500 hover:bg-indigo-700">
        Continue to Payment
        <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22" fill="none">
          <path d="M8.75324 5.49609L14.2535 10.9963L8.75 16.4998" stroke="white" stroke-width="1.6"
            stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </div>
</section>
-->
<style>
@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
</style>

<section class="h-screen shopping-cart pt-20">
  <h1 class="text-center font-bold">Shopping Cart</h1>
  <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-6 xl:px-0">
    <!--
    <div class="rounded-lg md:w-2/3">
      <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start item-card" *ngFor="let item of items">
        <img [src]="item.imageUrl" alt="product-image" class="w-full rounded-lg sm:w-40 item-img" />
        <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
          <div class="mt-5 sm:mt-0">
            <h4 class="text-lg font-bold text-gray-900">{{item.subcategoryName}}</h4>
            <p class="mt-1 text-xs text-gray-700">{{ item.description }}</p>
          </div>
          <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
            <div class="flex items-center border-gray-100 quantity-control">
              <span (click)="decrementOrRemove(item.id)" class="cursor-pointer rounded-l py-1 px-3.5 duration-100"> - </span>
              <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" [(ngModel)]="item.quantity" min="1" />
              <span (click)="addItemToCart(item)" class="cursor-pointer rounded-r py-1 px-3 duration-100"> + </span>
            </div>
            <div class="flex items-center space-x-4">
              <p class="text-sm">{{ item.price }} DH</p>
              <svg (click)="removeItemFromCart(item.id)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 remove-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->
    <div class="rounded-lg md:w-2/3">
      <div class="justify-between mb-6 rounded-lg bg-white p-6 shadow-md sm:flex sm:justify-start item-card" *ngFor="let item of items">
        <img [src]="item.imageUrl" alt="product-image" class="w-full rounded-lg sm:w-40 item-img" />
        <div class="sm:ml-4 sm:flex sm:w-full sm:justify-between">
          <div class="mt-5 sm:mt-0">
            <h4 class="text-lg font-bold text-gray-900">{{item.subcategoryName}}</h4>
            <p class="mt-1 text-xs text-gray-700">{{ item.description }}</p>
          </div>
          <div class="mt-4 flex justify-between sm:space-y-6 sm:mt-0 sm:block sm:space-x-6">
            <div class="flex items-center border-gray-100 quantity-control">
              <span (click)="decrementOrRemove(item.id)" class="cursor-pointer rounded-l py-1 px-3.5 duration-100"> - </span>
              
              <input class="h-8 w-8 border bg-white text-center text-xs outline-none" type="number" [(ngModel)]="item.quantity" min="1" />
              <span (click)="addItemToCart(item)" class="cursor-pointer rounded-r py-1 px-3 duration-100"> + </span>
            </div>
            <div class="flex items-center space-x-4">
              <p class="text-sm">{{ item.price }} DH</p>
              <svg (click)="removeItemFromCart(item.id)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 cursor-pointer duration-150 remove-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    




    <div class="mt-6 h-full rounded-lg border bg-white p-6 shadow-md md:mt-0 md:w-1/3 summary">
      <div class="mb-2 flex justify-between">
        <p class="text-gray-700">Subtotal</p>
        <p class="text-gray-700">{{ totalPrice }} DH</p>
      </div>
      <div class="flex justify-between">
        <p class="text-gray-700">Delivery Charge</p>
        <p class="text-gray-700">10.00 DH</p>
      </div>
      <hr class="my-4" />
      <div class="flex justify-between">
        <p class="total">Total</p>
        <div>
          <p class="mb-1 text-lg font-bold">{{ totalPrice + 10 }} DH</p>
          <p class="text-sm text-gray-700">including VAT</p>
        </div>
      </div>
      <button class="mt-6 w-full rounded-md py-1.5 font-medium checkout-btn">Check out</button>
    </div>
    
  </div>
</section>





